extends layout.pug

block content
    div.parentDivOne
        div.imageDiv
            img(src= recipe.image)
        div.textDiv
            h2= recipe.id
            h1= recipe.title
            h2= recipe.author
            div#rating-container
                if avgratings > 0
                    while avgratings-- && avgratings > -.1
                        p.recipeRating One Star
                    if avgratings === -.5
                        p.halfStar Half Star
                else 
                    p.no-ratings-yet Leave the first rating!
            if locals.authenticated
                if errors
                    each error in errors
                        li= error
                a(href="/boards/new") Create a new board!
                form(action=`/recipes/${recipe.id}/boards` method="post")
                    select(name="addToBoard")
                        each board in recipeBoards
                            option(value= board.id)= board.name
                    button(type="submit") Add to Board
            if !locals.authenticated
                a(href=`/users/login`) Log in to create a board!
    div.parentDivTwo
        div.ingredients
            each ingredient in recipe.Ingredients
                p= ingredient.amount + " " + ingredient.measurementUnit + " " + ingredient.name
        div.instructions
            each instruction in recipe.Instructions
                p= instruction.specification
    div.reviewsContainer
        if locals.authenticated
            if !userHasReview
                form(action= `/recipes/${recipe.id}/review/add`, method="post" id="submitReviewForm")
                    input(type="hidden" value=csrfToken name="_csrf")
                    textarea(name="reviewbody" value= reviews.reviewText maxlength='255' )
                    button(type="submit" id="submitReviewButton" value=`${recipe.id}`) Submit Review
        div#individual-reviews
            if reviews
                each review in reviews 
                    div(class=`single-review-${review.id} red`)
                        p.username= review.userId
                        br
                        p(class=`review-body-${review.id}`)= review.reviewText
                        br

                        if locals.userId === review.userId 
                            form.editform(action=`/recipes/reviews/${review.id}/edit`, method="post")
                                button(value=`${review.id}` class="editbtn")#editButton Edit
                            form.deleteform(action=`/recipes/reviews/${review.id}/delete`, method="post")
                                button(value=`${review.id}` class="deletebtn")#deleteButton Delete
        if userId
            div.addrating
                input#star1.star(type='radio' name='rating' value='1' userId=locals.userId checked= userRating===1)
                label(for='star1') 1 stars
                input#star2.star(type='radio' name='rating' value='2' userId=locals.userId checked= userRating===2)
                label(for='star2') 2 stars
                input#star3.star(type='radio' name='rating' value='3' userId=locals.userId checked= userRating===3)
                label(for='star3') 3 stars
                input#star4.star(type='radio' name='rating' value='4' userId=locals.userId checked= userRating===4)
                label(for='star4') 4 stars
                input#star5.star(type='radio' name='rating' value='5' userId=locals.userId checked= userRating===5)
                label(for='star5') 5 stars

        unless locals.authenticated
            p.notloggedtext Please Log In or Register to add a rating and write a review!
    script(src='/javascripts/ratings.js')